# Node dependencies
/node_modules

# Production versions
/app/main.prod.js
/app/renderer.prod.js

# Packaged versions
/release
/deliverables

# Test coverage
/coverage

# Environment variables
/.env

# Yarn error logs
/yarn-error.log
